#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

//custom includes
#include "include/positions.h"
#include "include/settings.dtsi"
#include "include/homerowmods.dtsi"

#define ___ &trans
#define XXX &none

#define LOW 1
#define SYM 2

#define S_A &hm_shift_l LSHFT A
#define S_SEMI &hm_shift_r SEMI

/ {  
keymap {
  compatible = "zmk,keymap";

  default_layer {
    bindings = <
//                               ╭─────────────┬─────────────┬─────────────┬─────────────╮ ╭─────────────┬─────────────┬─────────────┬─────────────╮
           ___           ___       &kp W         &kp E         &kp R         &kp T           &kp Y         &kp U         &kp I         &kp O             ___           ___   
//   ╭──────-──────┬──────-──────┼──────-──────┼──────-──────┼──────-──────┼──────-──────┤ ├──────-──────┬──────-──────┼──────-──────┼──────-──────┼──────-──────┼──────-──────╮
       &kp TAB       &kp Q         &kp S         &kp D         &kp F         &kp G           &kp H         &kp J         &kp K         &kp L         &kp P             ___    
//   ├──────-──────┼──────-──────┼──────-──────┼──────-──────┼──────-──────┼──────-──────┤ ├──────-──────┼──────-──────┼──────-──────┼──────-──────┼──────-──────┼──────-──────┤
       &kp CAPS      &kp A         &kp X         &kp C         &kp V         &kp B           &kp N         &kp M         &kp COMMA     &kp DOT       &kp SEMI      &kp SQT   
//   ├──────-──────┼──────-──────┼──────-──────┼──────-──────┼──────-──────┼──────-──────┤ ├──────-──────┼──────-──────┼──────-──────┼──────-──────┼──────-──────┼──────-──────┤
       &kp LSHFT     &kp Z         &kp LGUI      &mo LOW       &kp RET       &kp SPACE       &kp BSPC      &mo SYM       &kp RCTRL     &kp RALT          ___       &kp RSHFT  
//   ╰──────-──────┴──────-──────┴──────-──────┴──────-──────┴──────-──────┴──────-──────╯ ╰──────-──────┴──────-──────┴──────-──────┴──────-──────┴──────-──────┴──────-──────╯

    >;
  }; 
  low_layer {
    bindings = <
//                               ╭─────────────┬─────────────┬─────────────┬─────────────╮ ╭─────────────┬─────────────┬─────────────┬─────────────╮
           ___           ___           ___           ___           ___           ___         &kp N7        &kp N8        &kp N9            ___           ___           ___      
//   ╭──────-──────┬──────-──────┼──────-──────┼──────-──────┼──────-──────┼──────-──────┤ ├──────-──────┬──────-──────┼──────-──────┼──────-──────┼──────-──────┼──────-──────╮
           ___           ___           ___           ___           ___           ___         &kp N4        &kp N5        &kp N6            ___           ___           ___      
//   ├──────-──────┼──────-──────┼──────-──────┼──────-──────┼──────-──────┼──────-──────┤ ├──────-──────┼──────-──────┼──────-──────┼──────-──────┼──────-──────┼──────-──────┤
       &bt BT_CLR        ___           ___           ___           ___           ___         &kp N1        &kp N2        &kp N3            ___           ___           ___      
//   ├──────-──────┼──────-──────┼──────-──────┼──────-──────┼──────-──────┼──────-──────┤ ├──────-──────┼──────-──────┼──────-──────┼──────-──────┼──────-──────┼──────-──────┤
       &bootloader       ___       &kp LGUI          ___           ___           ___             ___           ___           ___           ___           ___       &bootloader 
//   ╰──────-──────┴──────-──────┴──────-──────┴──────-──────┴──────-──────┴──────-──────╯ ╰──────-──────┴──────-──────┴──────-──────┴──────-──────┴──────-──────┴──────-──────╯
    >;
  };
  sym_layer {
    bindings = <
//                               ╭─────────────┬─────────────┬─────────────┬─────────────╮ ╭─────────────┬─────────────┬─────────────┬─────────────╮
           ___           ___           ___           ___           ___           ___             ___           ___           ___           ___           ___           ___     
//   ╭──────-──────┬──────-──────┼──────-──────┼──────-──────┼──────-──────┼──────-──────┤ ├──────-──────┬──────-──────┼──────-──────┼──────-──────┼──────-──────┼──────-──────╮
       &kp TILD      &kp EXCL      &kp AT        &kp HASH      &kp DLLR      &kp PRCT        &kp CRRT      &kp AMPS      &kp STAR      &kp LPRN      &kp RPRN      &kp EQL      
//   ├──────-──────┼──────-──────┼──────-──────┼──────-──────┼──────-──────┼──────-──────┤ ├──────-──────┼──────-──────┼──────-──────┼──────-──────┼──────-──────┼──────-──────┤
           ___           ___           ___           ___           ___           ___             ___           ___           ___           ___           ___           ___      
//   ├──────-──────┼──────-──────┼──────-──────┼──────-──────┼──────-──────┼──────-──────┤ ├──────-──────┼──────-──────┼──────-──────┼──────-──────┼──────-──────┼──────-──────┤
           ___           ___           ___           ___           ___           ___             ___           ___           ___           ___           ___       &bootloader 
//   ╰──────-──────┴──────-──────┴──────-──────┴──────-──────┴──────-──────┴──────-──────╯ ╰──────-──────┴──────-──────┴──────-──────┴──────-──────┴──────-──────┴──────-──────╯
    >;
  };

};
};

